.lead__title {
    margin: 0 0 32px;
    padding: 0;
    max-width: 720px;
    font-size: 96px;
    font-style: normal;
    line-height: 1.04;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 720px) {
    .lead__title {
    margin-bottom: 16px;
    font-size: calc( (100vw - 320px)/(720 - 320) * (94 - 40) + 40px);
    line-height: 1.1;
    }
}
