.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-left: 4.69%;
        padding-right: 4.69%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-left: 3.13%;
        padding-right: 3.13%;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
